body {
    margin: 0;
    padding: 8px;
}

#addBookForm {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 10px;
    left: calc(50vw - (300px / 2));
    width: 300px;
    height: 400px;
    background-color: lightgrey;
    padding: 32px 16px 16px;
    gap: 8px;
}

#addBookForm > * {
    height: 10%;
}

#closeAddBookForm {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 19.5px;
    border-radius: 50%;
    border-width: 1px;
    background-color: red;
}

.notRead {
    background-color: red;
}

.notRead::before {
    content: "Not Read";
}

.read {
    background-color: green;
}

.read::before {
    content: "Has Been Read";
}

#shelf {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

.card {
    background-color: beige;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}